@model Bloody_Roar_2.Personaje

<h2>Crear Personaje</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="Nombre">Nombre</label>
        <input asp-for="Nombre" class="form-control" />
    </div>
    <div class="form-group">
        <label for="NombreBestia">Nombre Bestia</label>
        <input asp-for="NombreBestia" class="form-control" />
    </div>
    <div class="form-group">
        <label for="ResistenciaBestia">Resistencia Bestia</label>
        <input asp-for="ResistenciaBestia" type="number" class="form-control" />
    </div>
    <div class="form-group">
        <label for="ataques">Ataques</label>
        <input asp-for="ataques" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Guardar</button>
</form>

<a asp-action="Index">Volver a la lista</a>
