<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bloody Roar 2</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body class="d-flex flex-column" style="min-height: 100vh;">

    <header class="navbar navbar-expand-lg navbar-dark bg-dark p-3 mb-4">

        <a class="navbar-brand" href="/Home/Index">Bloody Roar 2</a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a class="nav-link" href="/Usuarios/Index">Usuarios</a></li>
                <li class="nav-item"><a class="nav-link" href="/Personajes/Index">Personajes</a></li>
                <li class="nav-item"><a class="nav-link" href="/ModosJuego/Index">Modos de Juego</a></li>
                <li class="nav-item"><a class="nav-link" href="/Ataques/Index">Ataques</a></li>
                <li class="nav-item"><a class="nav-link" href="/Combates/Index">Combates</a></li>

            <
            </ul>
        </div>

        <!-- Círculo de usuario -->
        @if (Context.Session.GetInt32("IdUsuario") != null)
        {
            <div style="position:relative; margin-left:20px;">
                <div onclick="toggleMenu()"
                    style="width:40px;height:40px;border-radius:50%;background:#888;cursor:pointer;">
                </div>

                <div id="menu"
                    style="display:none;position:absolute;top:45px;right:0;padding:10px;background:#fff; border-radius:5px;box-shadow:0 0 5px #0005;">
                    <a href="/Account/Logout">Cerrar sesión</a>
                </div>
            </div>
        }
    </header>


    <script>
        function toggleMenu() {
            let m = document.getElementById("menu");
            m.style.display = (m.style.display === "none" || m.style.display === "") ? "block" : "none";
        }
    </script>


    <div class="container flex-grow-1">
        @RenderBody()
        @RenderSection("Scripts", required: false)
    </div>

    <footer class="bg-dark text-white text-center p-3 mt-4">
        &copy; 2025 Bloody Roar 2
    </footer>
</body>
</html>
