@model Bloody_Roar_2.Usuario

<h2>Detalles del Usuario</h2>

<p><b>Id:</b> @Model.IdUsuario</p>
<p><b>Nombre:</b> @Model.Nombre</p>
<p><b>Email:</b> @Model.Email</p>

<a asp-action="Index">Volver a la lista</a>
