@model IEnumerable<Bloody_Roar_2.Usuario>

<h2>Lista de Usuarios</h2>
<a class="btn btn-primary mb-3" href="/Usuarios/Crear">Dar de Alta Usuario</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var u in Model)
        {
            <tr>
                <td>@u.IdUsuario</td>
                <td>@u.Nombre</td>
                <td>@u.Email</td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-secondary mt-3" href="/Home/Index">Volver a Inicio</a>
