@model Bloody_Roar_2.Ataque

<h2>Crear Ataque</h2>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}

<div asp-validation-summary="All" class="text-danger"></div>


<form asp-action="Crear" method="post">
    <div class="mb-3">
        <label class="form-label">Tipo de Ataque</label>
        <input asp-for="Tipo_Ataque" class="form-control" required />
    </div>

    <div class="mb-3">
        <label class="form-label">Daño</label>
        <input asp-for="Danio" class="form-control" type="number" min="1" required />
        <span asp-validation-for="Danio" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Personaje</label>
        <select asp-for="IdPersonaje" asp-items="ViewBag.Personajes" class="form-control">
            <option value="">Seleccionar...</option>
        </select>
    </div>

    <button type="submit" class="btn btn-success">Crear</button>
</form>

<a asp-action="Index" class="btn btn-secondary mt-3">Volver</a>