@model Bloody_Roar_2.Ataque

<h2>Detalles del Ataque</h2>

<p><b>Id:</b> @Model.IdAtaque</p>
<p><b>Tipo:</b> @Model.TipoAtaque</p>
<p><b>Daño:</b> @Model.Danio</p>

<a asp-action="Create">Crear nuevo</a> | <a asp-action="Index">Volver</a>
