@{
    ViewData["Title"] = "Bloody Roar 2";
}

<h1>Bienvenido a Bloody Roar 2</h1>
<p>Bloody Roar es una serie de videojuegos de lucha en 3D donde los personajes pueden transformarse en bestias para ganar poder y acceder a nuevos ataques. Creada por Hudson Soft y desarrollada por Eighting, la franquicia se caracteriza por su mecánica de lucha única que combina combate humano con transformaciones animales para desatar ataques especiales y combos</p>

<img class="img-centrada img-shadow" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuNDDAMiHxp6eFouBXiJaFmOdSJnXkxAYmrA&s" alt="imagen">
