@{
    ViewData["Title"] = "Bloody Roar 2";
}

<h1>Bienvenido a Bloody Roar 2</h1>
<p>Introducción al juego: Bloody Roar 2 es un juego de lucha en el que los personajes se transforman en bestias...</p>

<img src="Combates/Views" alt="imagen">
