@model Bloody_Roar_2.CombateCompleto

<h2>Detalle Combate #@Model.IdCombate</h2>
<p><strong>Personaje:</strong> @Model.NombrePersonaje</p>
<p><strong>Usuario:</strong> @Model.NombreUsuario</p>
<p><strong>Modo:</strong> @Model.NombreModoJuego</p>
<p><strong>Duración:</strong> @Model.Duracion seg.</p>
<a asp-action="Index">Volver</a>