@model Bloody_Roar_2.ModoJuego

<h2>Crear Modo de Juego</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="Nombre">Nombre</label>
        <input asp-for="Nombre" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Guardar</button>
</form>

<a asp-action="Index">Volver</a>
